<div class="d-flex flex-column align-items-center justify-content-center">
<h1>Dashboard</h1>

<% if session[:user_id] %>

<%= render partial: "layouts/flash" %>

<%= render partial: "tasks/index" %>

<%end%>
</div>


